.promo{
    background: url('../../img/promo.png') no-repeat 100% 0%/cover;
    min-height: 800px;
    padding: 228px 0 0 0;
    position: relative;
    overflow: hidden;
    &__button{
        display: block;
        margin: 0 auto;
        width: 399px;
        height: 84px;
        background: #FFFFFF;
        box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.15);
        color: $main-color;
        font-weight: bold;
        font-size: 30px;
        line-height: 84px;
        text-transform: uppercase;
        text-align: center;
        &:hover, &:active{
            text-decoration: none;
            color: $main-color;
        }
    }
    &:before{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 46px;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 1000px 115px 1000px;
        border-color: transparent transparent #F3F3F3 transparent;
    }
}